body{
  background-image: url("ello.gif");
  background-repeat:not-repeat;
  background-size:500px;
}
.uno{
  font-family:Copperplate Gothic Light;
          font-size:100px;
          color:#FF69B4;
          text-align:center;
text-decoration: underline #00CED1;
}
.dos{
 font-family:comic sans;
          font-size:50px;
          color:#C71585;
          text-align:left;
}
.tres{
font-family:comic sans;
          font-size:50px;
          color:#FFFF00;
          text-align:left;
}
.cuatro{
font-family:courier;
          font-size:45px;
          color:#FFFAFA;
          text-align:left;
  list-style-type:circle;
 font-style:strong;
}
.cinco{
font-family:courier;
          font-size:65px;
          color:#FFFF00;
          text-align:justify;
}
.seis{
font-family:comic sans;
          font-size:35px;
          color:#FFFAFA;
          text-align:justify;
}
.siete{
font-family:comic sans;
          font-size:35px;
          color:#FFFAFA;
          text-align:justify;
}
.ba{
width: 30%;
  height: 0%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.ce{
width: 20%;
  height: 20%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.gar{
width: 30%;
  height: 30%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.car{
width: 20%;
  height: 20%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.pure{
width: 15%;
  height: 15%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.sal{
width: 30%;
  height: 30%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.pi{
width: 30%;
  height: 30%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.pa{
width: 30%;
  height: 30%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.que{
width: 30%;
  height: 30%;
  margin: 0;
  padding: 0;
  right:15px;
  left:px;
}
.pag{
font-family:consolas;
         font-size:25px;
         color:yellow;
}